p{
  font-family: Arial, Helvetica, sans-serif;
}
.thumbnails{
  width: 300px;
}
.search-bar{
  display: block;
}
.video-preview{
  display: inline-block;
  width: 300px;
  vertical-align: top;
  margin-right: 15px;
}
